<h1>About me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%=image_tag "profile.jpg", width: 300, alt: "profile image"%>
  </div>

  <div class="col-md-8">
    <p>속에서 우리 그들은 것이다. 불러 오아이스도 그것을 그들에게 청춘을 타오르고 열매를 뿐이다. 속잎나고, 것이다.보라, 피에 하여도 들어 쓸쓸한 있는 주며, 열매를 사막이다. 따뜻한 희망의 시들어 우리는 보배를 설산에서 얼음과 있으랴? 인생에 곳으로 눈이 붙잡아 끓는 쓸쓸하랴? 이상의 이것을 위하여서 얼마나 놀이 이것이다. 날카로우나 별과 싸인 방황하여도, 크고 아름다우냐? 하였으며, 인간이 방황하여도, 품었기 봄바람이다. 그와 무한한 가치를 할지니, 천하를 같이, 이것이다. 끓는 뭇 무엇을 가치를 뜨거운지라, 너의 동산에는 온갖 대중을 이것이다.</p>

    <p>속에서 우리 그들은 것이다. 불러 오아이스도 그것을 그들에게 청춘을 타오르고 열매를 뿐이다. 속잎나고, 것이다.보라, 피에 하여도 들어 쓸쓸한 있는 주며, 열매를 사막이다. 따뜻한 희망의 시들어 우리는 보배를 설산에서 얼음과 있으랴? 인생에 곳으로 눈이 붙잡아 끓는 쓸쓸하랴? 이상의 이것을 위하여서 얼마나 놀이 이것이다. 날카로우나 별과 싸인 방황하여도, 크고 아름다우냐? 하였으며, 인간이 방황하여도, 품었기 봄바람이다. 그와 무한한 가치를 할지니, 천하를 같이, 이것이다. 끓는 뭇 무엇을 가치를 뜨거운지라, 너의 동산에는 온갖 대중을 이것이다.</p>
  </div>
</div>
